<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" rel="stylesheet" href="../public/css/member.css">
    <title>Title</title>
</head>
<body>
    <div class="top">
        <p class="top_left">
            <a href="../index.html">
                <img src="../public/img/homepage/left_01.png">
            </a>
        </p>
        <p class="top_center">会员中心</p>
        <div class="top_right">VIP登录</div>
    </div>

    <div class="banner">
        <img src="../public/img/asia/vip_024.jpg">
    </div>
    <div class="type">
        <div class="type_left">
            <p class="type_left_p">会员类型</p>
            <p class="type_left_p01">游客</p>
        </div>
        <div class="type_lright">
            <p class="type_left_p">支付日期</p>
            <p class="type_left_p01">购买VIP</p>
        </div>
    </div>

    <div class="box">激情视频等你来看!</div>
    <div class="footer">
        <ul>
            <li class="footer_li">
                <a href="activation.html">
                    <p class="footer_p01">
                        <img src="../public/img/asia/04.png">
                    </p>
                    <p class="footer_p02">已经充值？点击登录</p>
                    <p class="footer_p03">
                        <img src="../public/img/asia/06.jpg">
                    </p>
                    <div style="clear: both"></div>
                </a>
            </li>
            <li class="footer_li">
                <p class="footer_p01">
                    <img src="../public/img/asia/05.png">
                </p>
                <p class="footer_p02" style="color:#666666">购买会员</p>
                <p class="footer_p03">
                    <img src="../public/img/asia/06.jpg">
                </p>
                <div style="clear: both"></div>
            </li>
            <li class="footer_li">

                    <p class="footer_p01">
                        <img src="../public/img/asia/01.png">
                    </p>
                    <p class="footer_p02"style="color:#666666">自助登陆</p>
                    <p class="footer_p03">
                        <img src="../public/img/asia/06.jpg">
                    </p>

                <div style="clear: both"></div>
            </li>
            <li class="footer_li">
                <p class="footer_p01">
                    <img src="../public/img/asia/02.png">
                </p>
                <p class="footer_p02"style="color:#666666">用户反馈</p>
                <p class="footer_p03">
                    <img src="../public/img/asia/06.jpg">
                </p>
                <div style="clear: both"></div>
            </li>
            <li class="footer_li">
                <p class="footer_p01">
                    <img src="../public/img/asia/03.png">
                </p>
                <p class="footer_p02"style="color:#666666">用户协议</p>
                <p class="footer_p03">
                    <img src="../public/img/asia/06.jpg">
                </p>
                <div style="clear: both"></div>
            </li>

        </ul>
    </div>



    <div class="end">
        <div class="end_en">
            <a href="../index.html" class="end_img">
                <img class="img01" src="../public/img/homepage/end_02.jpg">
                <img class="img02" src="../public/img/homepage/end_01.jpg">
            </a>
        </div>
        <div class="end_en">
            <a href="#" class="end_img">
                <img class="img04" src="../public/img/homepage/end_04.jpg">
                <img class="img03" src="../public/img/homepage/end_03.jpg">
            </a>
        </div>
        <div class="end_en">
            <a href="#" class="end_img">
                <img class="img06" src="../public/img/homepage/end_06.jpg">
                <img class="img05" src="../public/img/homepage/end_05.jpg">
            </a>
        </div>
        <div class="end_en">
            <a href="#" class="end_img">
                <img class="img08" src="../public/img/homepage/end_08.jpg">
                <img class="img07" src="../public/img/homepage/end_07.jpg">
            </a>
        </div>
    </div>



    <script src="../public/js/zepto.min.js"></script>
    <script src="../public/js/touch.js"></script>
    <script src="../public/js/fx.js"></script>
    <script src="../public/js/member/member.js"></script>
</body>
</html>