<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace和定义的Mapper接口对应，并实现其中的方法 -->
<mapper namespace="TOrderMapper">
	<select id="getOrderStatusById" parameterType="String"
		resultType="Integer">
		select status from t_order where id=#{orderId}
	</select>
</mapper>

  
 